{% extends "/user/layout.html"%}
{% block content %} 
{% block menu %}
    {% set header_class = 'header2'%}
    {% include '/user/inc/menu.html'%}
{% endblock %}
<div class="wrap">
    <div class="sub_pg pb-0 login_pg">
        <div class="container">
            <div class="login_wr">
                <div class="login_txt">
                    <p class="tit_h2 text-white wh_pre line_h1_4">맘카페,카페 마케팅 생산성을
                    3배 높여줄 프로베디 Ai</p>
                    <p class="tit_h5 text-white wh_pre line_h1_4 mt_25">프로베디가 처음시신가요?
                    회원가입후 프로베디의 서비스를 사용하실 수 있습니다.</p>
                    <button type="button" class="btn start_btn" onclick="location.href='/join'">회원가입</button>
                </div>
                <div class="login_cont">
                    <form name="frm_login" id="frm_login" action="/api/user/login">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="pb_32 border-bottom">
                            <p class="tit_h3">로그인</p>
                            <p class="mt-3 line_h1_4 wh_pre">2024 최신 트렌드 원고를 AI로 쉽고 빠르게
                            맘카페, 지역카페 바이럴 마케팅 이제 혼자서도 쉽게 하세요! </p>
                        </div>
                        <div class="pt-5">
                            <div class="ip_wr">
                                <div class="ip_tit">
                                    <h5>아이디</h5>
                                </div>
                                <input type="text" name="mt_id" id="mt_id" class="form-control" placeholder="영소문,숫자 조합8자리~16자리">
                                <div class="form-text ip_valid">확인되었습니다.</div>
                            </div>
                            <div class="ip_wr mt_20">
                                <div class="ip_tit">
                                    <h5>비밀번호</h5>
                                </div>
                                <input type="password" name="mt_pass" id="mt_pass" class="form-control" placeholder="영소문,숫자,특수문자 조합8자리~20자리">
                                <div class="form-text ip_valid">확인되었습니다.</div>
                            </div>
                            <div class="mt_20">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">로그인</button>
                            </div>
                            <div class="find_wr">
                                <a href="/find_id">아이디찾기</a>
                                <p>/</p>
                                <a href="/find_pw">비밀번호 찾기</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="log_m">
                    <p class="tit_h2 text-white wh_pre line_h1_4">맘카페,카페 마케팅 생산성을
                    3배 높여줄 프로베디 Ai</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$('#frm_login').validate({
    submitHandler: function(){
        var f = document.frm_login;
        var ajaxData = new FormData(f);
        $('#loding').modal('toggle');
        $.ajax({
            url: '/api/user/login',
            enctype: "multipart/form-data",
            data: ajaxData,
            type: "POST",
            async: true,
            contentType: false,
            processData: false,
            cache: true,
            timeout: 5000,
            success: function(data){
                $('#loding').modal('toggle');
                if(data.success == "true"){
                    location.href = './';
                }else{
                    jalert_url(data.message, "reload");
                }
            },
            error: function (err) {
                console.log(err);
            },
        });
        return false;
    },
    rules: {
        mt_id: {
            required: true,
        },
        mt_pass: {
            required: true,
        },
    },
    messages: {
        mt_id: {
            required: "아이디를 입력해주세요",
        },
        mt_pass: {
            required: "비밀번호를 입력해주세요.",
        },
    },
});
</script>
{% endblock %}